* {
  margin: 0;
}
html {
  background-color: black;
  font-size: 22px;
}
.rat {
  font-family: "Montserrat";
  font-size: 22px;
}
body {
  margin: 0 auto;
  width: 77vw;
  color: #ffffff;
  background-color: #0e0e0e;
}
.header {
  height: 140px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.name {
  font-family: "Pacifico";
  font-size: 40px;

  /* text-shadow: 1px 1px 20px #7d12ff; */
}
.work-contact {
  display: flex;
  gap: 1rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  padding: 1vw 100px;
}

.grid-item {
  position: relative;
  width: 30vw;
  height: 40vh;
  margin-bottom: 15px;
}
.work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: filter 0.5s ease, transform 0.5s ease;
  display: block;
}
.work-image:hover {
  opacity: 0.8;
  filter: blur(4px);
  transform: scale(1.05);
}
.hover-text {
  font-family: "Montserrat";
  font-weight: 900;
  text-shadow: 4px 4px 29px rgba(0, 0, 0, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
}
.grid-item:hover .hover-text {
  opacity: 1;
}
a {
  text-decoration: none;
  color: #cfcfcf;
}
.info {
  /* gap: 2vw; */
  display: flex;
}
.lela {
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  padding: 0px 4vw;
}
.text {
  width: 588px;
  height: 485px;
}
.paragtaph {
  font-size: calc(12px + 0.5vw);
}
.certifications {
  padding-top: 12vh;
  text-align: center;
}
.skills {
  width: 60vw;
}
.flex-parent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.flex-children {
  width: 60vw;
}
