* {
  margin: 0;
}
html {
  background-color: black;
  font-size: 22px;
}
.rat {
  font-family: "Montserrat";
  font-size: 22px;
}
body {
  margin: 0 auto;
  width: 77vw;
  color: #ffffff;
  background-color: #0e0e0e;
}
.header {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  /* position: absolute; */
  padding-bottom: 22px;
  font-family: "Pacifico";
  font-size: 40px;
}
.lel {
  text-shadow: 4px 4px 50px rgba(149, 57, 159, 1);

  margin-right: 150px;
}
.contact-link a {
  text-decoration: none;
  color: black;
}
.work-contact {
  padding-left: 150px;
  display: flex;
  gap: 1rem;
  /* padding-right: 25rem; */
}
.links {
  display: flex;
  justify-content: space-between;
}
.help {
  font-size: 80px;
  word-wrap: break-word; /* For older browsers */
  overflow-wrap: break-word; /* For modern browsers */
}
.icon {
  padding: 8px;
  width: 3vw;
}
.substring {
  font-size: 15px;
}
.substring2 {
  font-size: 25px;
}
.bruh {
  color: rgb(202, 20, 126);
}
.AAAAAA {
  margin-left: 70px;
}
.contact-link {
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  display: flex;
  background-color: white;
  color: black;
  border-radius: 15px;
  height: 8vh;
  width: 15vw;
  margin-top: 1rem;
}
.ebee {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.down {
  padding-right: 200px;
  font-weight: 100;
  text-decoration: underline;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  padding: 1vw 100px;
}

.grid-item {
  position: relative;
  width: 30vw;
  height: 40vh;
  margin-bottom: 15px;
}
.work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: filter 0.5s ease, transform 0.5s ease;
  display: block;
}
.work-image:hover {
  opacity: 0.8;
  filter: blur(4px);
  transform: scale(1.05);
}
.hover-text {
  font-family: "Montserrat";
  font-weight: 900;
  text-shadow: 4px 4px 29px rgba(0, 0, 0, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
}

.grid-item:hover .hover-text {
  opacity: 1;
}
a {
  text-decoration: none;
  color: #cfcfcf;
}
.info {
  padding-top: 10vh;
  background-color: white;
  display: flex;
  color: black;
}
.lela {
  width: 30vw;
  height: 30vw;
  /* border-radius: 100%; */
  padding: 0px 4vw;
}

.text {
  width: 588px;
  height: 485px;
}
.paragtaph {
  font-size: calc(12px + 0.5vw);
  font-weight: bolder;
}
.certifications {
  padding-top: 8vh;
  text-align: center;
  background-color: white;
}
.certifications h1 {
  font-size: 50px;
  color: black;
}
.skills {
  width: 60vw;
}
.flex-parent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.flex-children {
  width: 60vw;
}
.footer {
  text-align: center;
  height: 100px;
  background-color: #0e0e0e;
  color: #a7a3a3;
}
.footertext {
  font-family: "Source Sans Pro", arial, sans-serif;
  padding-top: 1rem;
  font-size: 15px;
}
