* {
  margin: 0;
}
html {
  background-color: black;
  font-size: 22px;
}
.rat {
  font-family: "Montserrat";
  font-size: 22px;
}
body {
  margin: 0 auto;
  width: 77vw;
  color: #ffffff;
  background-color: #0e0e0e;
}
.mmy {
  font-size: 90px;
  font-family: "Mark My Words", sans-serif;
  height: 120px;
  word-spacing: 30px;
}
.mmyy {
  font-size: 25px;
  font-family: "Mark My Words", sans-serif;
  word-spacing: 15px;
  padding-bottom: 15px;
  opacity: 0.85;
}
.header {
  /* position: relative; */
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.work-contact {
  /* padding-left: 150px; */
  width: 320px;
  display: flex;
  gap: 1rem;
  /* padding-right: 25rem; */
}
.name {
  /* position: absolute; */
  width: 320px;
  padding-bottom: 22px;
  font-family: "Pacifico";
  font-size: 40px;
}
.lel {
  /* text-shadow: 0px 0px 60px rgb(255, 0, 98); */

  /* margin-right: 150px; */
  animation: flickerr 1s forwards; /* Adjust animation duration as needed */
}

@keyframes flickerr {
  0% {
    text-shadow: 0px 0px 60px rgb(255, 0, 200, 1);
    opacity: 1;
  }
  9% {
    text-shadow: 0px 0px 60px rgb(255, 0, 200, 1);
    opacity: 1;
  }
  10% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0); /* Flicker to no shadow */
    opacity: 0.1;
  }
  34% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0); /* Flicker to no shadow */
    opacity: 0.1;
  }
  35% {
    text-shadow: 0px 0px 60px rgb(255, 0, 200, 1);
    opacity: 1;
  }
  49% {
    text-shadow: 0px 0px 60px rgb(255, 0, 200, 1);
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0); /* Flicker to no shadow */
    opacity: 0.1;
  }
  59% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0); /* Flicker to no shadow */
    opacity: 0.1;
  }
  60% {
    text-shadow: 0px 0px 60px rgb(255, 0, 200, 1);
    opacity: 1;
  }
  64% {
    text-shadow: 0px 0px 60px rgb(255, 0, 200, 1);
    opacity: 1;
  }
  65% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0); /* Flicker to no shadow */
    opacity: 0.1;
  }
  74% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0); /* Flicker to no shadow */
    opacity: 0.1;
  }
  75% {
    text-shadow: 0px 0px 60px rgb(255, 0, 200, 1);
    opacity: 1;
  }
  100% {
    text-shadow: 0px 0px 60px rgb(255, 0, 200);
    opacity: 1;
  }
}
.flicker-slow {
  animation: flicker 3s linear forwards;
}

.flicker-fast {
  animation: flicker 1s linear forwards;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

.contact-link a {
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  justify-content: space-between;
}
.help {
  font-size: 80px;
  word-wrap: break-word; /* For older browsers */
  overflow-wrap: break-word; /* For modern browsers */
}
.icon {
  padding: 8px;
  width: 3vw;
}
.substring {
  font-size: 15px;
}
.substring2 {
  font-size: 25px;
}
.bruh {
  color: rgb(202, 20, 126);
}
.AAAAAA {
  margin-left: 2vw;
}
.contact-link {
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  display: flex;
  background-color: white;
  color: black;
  border-radius: 15px;
  height: 8vh;
  width: 13vw;
  margin-top: 1rem;
}
.ebee {
  width: 35vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.down {
  /* width: 20vw; */
  font-weight: 100;
  text-decoration: underline;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  padding: 1vw 100px;
}

.grid-item {
  position: relative;
  width: 30vw;
  height: 40vh;
  margin-bottom: 15px;
}
.work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: filter 0.5s ease, transform 0.5s ease;
  display: block;
}
.work-image:hover {
  opacity: 0.8;
  filter: blur(4px);
  transform: scale(1.05);
}
.hover-text {
  font-family: "Montserrat";
  font-weight: 900;
  text-shadow: 4px 4px 29px rgba(0, 0, 0, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
}

.grid-item:hover .hover-text {
  opacity: 1;
}
a {
  text-decoration: none;
  color: #cfcfcf;
}
.info {
  display: flex;
  /* justify-content: space-evenly; */
  padding-left: 5vw;
  gap: 3vw;
  padding-top: 8vh;
  background-color: white;
  display: flex;
  color: black;
}
.lela {
  width: 25vw;
  height: 25vw;
  /* border-radius: 100%; */
  padding-right: 2vw;
}

.text {
  width: 588px;
  height: 485px;
}
.paragtaph {
  font-size: calc(12px + 0.5vw);
  font-weight: bolder;
}
.certifications {
  padding-top: 8vh;
  text-align: center;
  background-color: white;
}
.certifications h1 {
  font-size: 50px;
  color: black;
}
.skills {
  width: 60vw;
}
.flex-parent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.flex-children {
  width: 60vw;
}
.footer {
  text-align: center;
  height: 100px;
  background-color: #0e0e0e;
  color: #a7a3a3;
}
.footertext {
  font-family: "Source Sans Pro", arial, sans-serif;
  padding-top: 1rem;
  font-size: 15px;
}
dialog {
  position: absolute;
}
#openDialogBtn {
  width: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  opacity: 0;
}
#dialogBox {
  text-align: center;
  background-color: pink;
  position: fixed;
  width: 1000px;
  height: 530px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: pink;
  padding: 20px;
  z-index: 1000;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}
.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.dialogImage {
  position: absolute;
  width: 25px;
  height: 25px;
}
.forg {
  width: 800px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: none;
}

.button-74 {
  margin-top: 10px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  /* padding: 0 18px; */
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.secret {
  position: absolute;
  padding-bottom: 15px;
  right: 10px; /* Adjust the right offset */
  font-family: "Mark My Words", sans-serif;
}
