<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teriyyaki - Contact</title>
    <link rel="icon" href="../fotos/favico.png" />

    <link rel="stylesheet" type="text/css" href="../style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="work-contact">
        <a href="../index.html" class="rat">Work</a>
        <a class="rat" href="../components/contact.html">About me</a>
        <h4 class="rat" href="../components/aboutme.html">Contact</h4>
      </div>
      <a class="name lel" href="../index.html"><p>Lela Tatarashvili</p></a>
      <div class="work-contact">
        <h3 class="rat down">
          <a href="../fotos/Lela_Tatarashvili_CV_Eng.pdf" download
            >Download CV</a
          >
        </h3>
      </div>
    </div>
    <div class="header-mobile">
      <a class="lel name" data-text="U"
        ><span class="flicker-slow">L</span>el<span class="flicker-slow"
          >a Tata</span
        >ras<span class="flicker-fast">h</span>vili</a
      >
      <br />
      <div class="work-contact">
        <a class="rat" href="../index.html">Work</a>
        <a href="../components/contact.html" class="rat">About me</a>
        <h4 class="rat" href="../components/aboutme.html">Contact</h4>
        <h3 class="rat down">
          <a href="../fotos/Lela_Tatarashvili_CV_Eng.pdf" download
            >Download CV</a
          >
        </h3>
      </div>
    </div>

    <div class="links">
      <div class="AAAAAA">
        <h1 class="rat help">
          LETS <span class="bruh">START</span> A PROJECT
          <span class="bruh">TOGETHER</span>
        </h1>
        <div class="ebee">
          <a
            href="https://ge.linkedin.com/in/lela-tatarashvili"
            target="_blank"
          >
            <div class="contact-link">
              <img class="icon" src="../icons/linekdin.png" alt="" />
              <h3 class="rat">Follow me on Linkedin</h3>
            </div></a
          >
          <a href="https://www.instagram.com/teriyyaki.00/" target="_blank">
            <div class="contact-link">
              <img class="icon" src="../icons/insta.png" alt="" />
              <h3 class="rat">Follow me on Instagram</h3>
            </div></a
          >
          <a href="https://www.behance.net/lelatataras" target="_blank">
            <div class="contact-link">
              <img class="icon" src="../icons/be.png" alt="" />
              <h3 class="rat">Follow me on Behance</h3>
            </div></a
          >
          <a href="https://www.facebook.com/lela.tatarashvili" target="_blank">
            <div class="contact-link">
              <img class="icon" src="../icons/fb.png" alt="" />
              <h3 class="rat">Follow me on Facebook</h3>
            </div>
          </a>
          <a href="https://forms.gle/ZjLf1REsWqdhVif26" target="_blank">
            <div class="contact-link">
              <img class="icon" src="../icons/mail.png" alt="" />
              <p></p>
              <h3 class="rat">
                Send me an Email
                <p class="substring">lelatatarashvili@gmail.com</p>
              </h3>
            </div></a
          >
        </div>
      </div>
      <img class="lela" src="../fotos/lela.png" alt="" />
    </div>
    <br /><br /><br />
  </body>
</html>
