<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>teriyyaki-work</title>
    <link rel="icon" href="../fotos/favico.png" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="work-contact">
        <a href="../index.html" class="rat">Work</a>
        <a class="rat" href="../components/contact.html">About me</a>
        <a class="rat" href="../components/aboutme.html">Contact</a>
      </div>
      <a class="name lel" href="../index.html"><p>Lela Tatarashvili</p></a>
      <h3 class="rat down">
        <a href="./fotos/10Bitmap Posters 2021.png" download>Download CV</a>
      </h3>
    </div>

    <div class="flex-parent">
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio1.jpg" />
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio2.jpg" />
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio3.jpg" />
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio4.jpg" />
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio5.jpg" />
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio6.jpg" />
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio7.jpg" />
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio8.jpg" />
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio9.jpg" />
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio10.jpg" />
      <img class="flex-children" src="../PAGES/2Logofolio/Logofolio11.jpg" />
    </div>
  </body>
</html>
