<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teriyyaki - Work</title>
    <link rel="icon" href="../fotos/favico.png" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="work-contact">
        <a href="../index.html" class="rat">Work</a>
        <a href="./contact.html" class="rat">About me</a>
      </div>

      <a class="lel name" data-text="U"
        ><span class="flicker-slow">L</span>el<span class="flicker-slow"
          >a Tata</span
        >ras<span class="flicker-fast">h</span>vili</a
      >
      <div class="contactCV">
        <a class="rat" href="./aboutme.html">Contact</a>

        <h3 class="rat down">
          <a href="../fotos/Lela_Tatarashvili_CV_Eng.pdf" download
            >Download CV</a
          >
        </h3>
      </div>
    </div>
    <div class="header-mobile">
      <a class="lel name" data-text="U"
        ><span class="flicker-slow">L</span>el<span class="flicker-slow"
          >a Tata</span
        >ras<span class="flicker-fast">h</span>vili</a
      >
      <br />
      <div class="work-contact">
        <a class="rat" href="../index.html">Work</a>
        <a href="../components/contact.html" class="rat">About me</a>
        <a class="rat" href="../components/aboutme.html">Contact</a>
        <h3 class="rat down">
          <a href="../fotos/Lela_Tatarashvili_CV_Eng.pdf" download
            >Download CV</a
          >
        </h3>
      </div>
    </div>
    <div class="flex-parent">
      <img class="flex-children" src="../PAGES/5MarketPlace UIUX/1.jpg" />
      <img class="flex-children" src="../PAGES/5MarketPlace UIUX/2.jpg" />
      <img class="flex-children" src="../PAGES/5MarketPlace UIUX/3.jpg" />
      <img class="flex-children" src="../PAGES/5MarketPlace UIUX/4.jpg" />
    </div>
  </body>
</html>
