<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="work-contact">
        <a href="../index.html" class="rat">work</a>
        <a href="../components/contact.html" class="rat">contact</a>
      </div>
      <p class="name">Lela Tatarashvili</p>
      <h3 class="rat">download cv</h3>
    </div>

    <div class="flex-parent">
      <img class="flex-children" src="../PAGES/1Namaste/Namaste.jpg" />
      <img class="flex-children" src="../PAGES/1Namaste/Namaste2.jpg" />
      <img class="flex-children" src="../PAGES/1Namaste/Namaste3.jpg" />
      <img class="flex-children" src="../PAGES/1Namaste/Namaste4.jpg" />
      <img class="flex-children" src="../PAGES/1Namaste/Namaste5.jpg" />
      <img class="flex-children" src="../PAGES/1Namaste/Namaste6.jpg" />
      <img class="flex-children" src="../PAGES/1Namaste/Namaste7.jpg" />
      <img class="flex-children" src="../PAGES/1Namaste/Namaste8.jpg" />
      <img class="flex-children" src="../PAGES/1Namaste/Namaste9.jpg" />
      <img class="flex-children" src="../PAGES/1Namaste/Namaste10.jpg" />
    </div>
  </body>
</html>
